*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
body{
 margin:0;
}
.search_div{
  display: flex;
  width: 100px;
}
input{
    font-size: inherit;
    width:500px; 
    height: 35.34px;
    padding: .4em;
    border: 1px solid #777;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.u_tube_icon{
  display: inline-flex;
  width: 169px;
  height: 56px;

}
.search{
  background-color:#E7E7E7;
  border: 1px solid black;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding: 0px;
  height:auto;
  width: 50px;
}
.more_contents{
  display: inline-flex;
  width: max-content;
  height: max-content;
  justify-content: flex-start;
  align-items: flex-start;
}
 .u_tube_logo{
  display:inline-flex;
  width: fit-content;
  height: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.search_div{
  width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifications_bar{
  display: flex;
  width: 170px;
  height: 56px;
  padding: 10px 0px;
  align-items: center;
  justify-content: flex-end;
}
.video_icon,
.notification_icon,
.avatar_icon{
 display: flex;
 width: max-content;
 height:max-content;
 padding: 5px;
}
.top_bar{
    width: 100%;
    height: 56px;
    display: flex;
    padding: 0 18px;
    justify-content: space-between ;
    align-items: center;
}
.category-section{
    width: 1209.337px;
    height: 60.667px;
    display: flex;    
    justify-content: center;
    align-items: center;
    /* border: #111 solid 1px; */
    padding: 10px;
}
.category {
   width: auto;
    height: 30px;
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #CCC;
    border-radius: 900px;
    background-color: #E7E7E7;
    padding: .5rem 1rem;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 150ms;
  }
  .category:hover {
    background-color: #DDD;
  }
  .category.active {
    background-color: #606060;
    color: white;
    width: auto;
    border-color: #EEE;
  }
  .category:last-child {
    margin-right: 0;
  }
.side_bar{
    width: 70px;
    height: 540px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* border: 1px solid black; */
    margin-right: 0px;
   
}.side_bar > div{
    padding: 16px 14px;
}
img{
    border-radius: 20px;
}
.top_bar svg{
    width: 30px;
    height: 30px;
}
button{
    border: none;
    background-color: inherit;
    width: 74px;
    height: 44px;
    padding: 16px 0 14px;
    border-radius: 3px;
    transition: color 150ms;
    cursor: pointer;
    font-size: inherit
}
span{
    font-size: 10px;
}
.video-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   padding:5px;
    /* border: 1px solid red; */
}
.video-container:first-child{
   padding:left;
}
video{
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.container{
    display:grid;
    grid-template-columns: auto auto auto auto;
}
.bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .channel-pic {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
  }
  .video-description {
    display: flex;
    flex-direction: column;
  }
  .vid,
  .vid-1{
    display: flex;
    flex-direction: column;
  }
  .video-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
  }
  .video-channel {
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;
  }
  .video-channel,
  .views {
    color: #555;
  }
  .video-channel:hover {
    color: #111;
  }
  .side-vid{
    display: grid;
    grid-template-columns: auto auto;
  }
  .category-div{
    display: grid;
    grid-template-rows: auto auto;
  }
  